.container{
  width: 100vw;
  min-height: 100vh;
  overflow: auto;
}

header.header{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.light-mode header.header{
  background: #2970b8;
} 